<% include partials/header%>
<div class="ui container">
<div class="ui cards">
  <% notes.forEach(function(note){%>
   <div class="card">
    <div class="content">
      <div class="header">
        <%= note.subName%>
      </div>
      <div class="meta">
        <%= note.branch.toUpperCase();%>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a  href="<%=note.pdflink%>"><button class="ui blue button"><i class="cloud download icon"></i>Download</button>
        </a>
        
        <form id="delete" action="/notes/<%= note.branch%>/<%= note.sem%>/<%= note._id%>?_method=DELETE" method="POST">
        <button class="ui red button" Onclick="return ConfirmDelete()"><i class="trash icon"></i></i>Delete</button>
      </form>
      </div>
    </div>
  </div>
 <%});%>
</div>
</div>
<% include partials/footer%>
